* {
    font-family: 'Segoe UI';
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Verdana;
}

html {
    background-image: url("bg-again.png");
    background-size: cover;
    background-position: center;
}

#partOne {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    color: whitesmoke;
}

#text {
    text-align: center;
    margin-top: 100px;
}

#intro {
    margin-bottom: 0;
    color: coral;
}

#intro-2 {
    color: lightblue;
    font-size: 80px;
    margin-top: 0; 
    margin-bottom: 0;
}

#intro-3 {
    margin-top:5px;
    color: antiquewhite;
    text-shadow: 2px, 2px, 5px, black;
}

.desc {
    font-weight: bold;
}

button {
    font-size: 25px;
    border: 2px solid rgb(77, 229, 130);
    background: transparent;
    border-radius: 10px;
    color: rgb(77, 229, 130); 
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 10px; 
    cursor: pointer; 
    transition: color 0.3s, border-color 0.3s;   
}

button:hover {
    background-color: rgb(77, 229, 130); 
    color: white; 
    border-color: rgb(77, 229, 130); 
}

.slide-down {
    animation: slideDown 1s ease forwards;
    opacity: 0;
}

.slide-left {
    animation: slideLeft 1s ease forwards;
    opacity: 0;
}

.fade-in {
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.delay-1 {
    animation-delay: 1s;
}

.delay-2 {
    animation-delay: 2s;
}

.delay-3 {
    animation-delay: 3s;
}

.delay-4 {
    animation-delay: 4s;
}

.delay-5 {
    animation-delay: 5s;
}